html{
    width: 100%;
}
.jam-heading {
    font-size: 4.5vw !important; 
    width: 70% !important;
}
.nav-item{
    color: rgb(0,0,0,0.5);
    padding: 15px;
    font-weight: 400;
}
.thumb-link:hover{
    background: transparent !important;
}
.nav-item:hover{
    color: black;
    cursor: pointer;
    
}
.nav-content {
    font-size: 14px;
    margin-top: 40px !important;
    padding-bottom: 10px !important;
}

i{
    font-size: 2.5em !important;
    padding-right: 5px;
}
i:hover {
    cursor: pointer;
}

.yo-card{
    border-radius: 20px;
    height:60vh;
}
.newarticle-card{
    border-radius: 20px;
    height:auto;
}   
.profile-image{
    margin: 20px;
    border-radius: 100%;
    width:200px;
    height:200px;
    
}
.signup-text{
    font-weight: 600;
}
.auth-input {
    width: 50% !important;
}
.blog-card{
    border-radius: 10px;
}
.card-img{
    padding:8px;
    width: 150px;
    height:150px;
}
.blog-wrapper{
    width: 90%;
    margin: 0 auto;
}
.blog-img{
    width:150px;
    height:150px;
}
.header-img{
    background: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
    width: 100%;
    background-size: cover;
}
.jam-title{
    text-align: center !important;
}
.cont {
    width: 80%;
    margin: 0 auto;
}
.blog-sidebar{
    margin-top: 75px;
}
@media (max-width:800px){
    .jam-heading{
        width: 67% !important;
        font-size: 2.2em !important;
        line-height: 100%;
    }
    .nav-length{
        margin-bottom:45px;
    }
    .thumb-link:hover {
        background: transparent !important;
        
    }
    .nav-content {
        margin-top: 40px !important;
        padding-bottom: 10px !important;
    }
    .nav-item{
       font-weight: 400;
       padding: 14px;
       font-size:13px;
    }
    i{
        font-size: 2em !important;
        
    }

    /* Blog */
   
    /* Profile */

    .profile-nav-title{
        text-align: center !important;
    }
    .profile-image{
        margin: 20px;
        border-radius: 100%;
        width:110px;
        height:110px;
        
    }
    .about-card{
        margin-top: 6px !important;
        border-radius: 20px;
        height:55vh;
        font-size: 12px;
    }
    .cred-card{
        width: 90% !important;
        position: absolute;
        left: 5% !important;
    }
    .card-length{
        height: 62vh;
    }
    .signup-text{
        font-size: 14px;
    }
    .card-length-signup{
        height: 68vh !important;
    }
    .signup-txt{
        padding-top: 26px !important;
        padding-bottom: 10px !important;
    }

    .block-text{
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 47px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.1;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .blog-img{
        width: 110px !important;
        height: 110px;
    }
    .header-img{
        height:30vh;
    }
    .blog-sidebar{
        margin-top: 20px;
    }

}

@media (min-width:992px) {
    .mobile-profile-nav{
        
        display:none;
    }
  
}

