
.jam-heading {
    font-size: 3.4em !important; 
    width: 70% !important;
}
.nav-item{
    color: rgb(0,0,0,0.5);
    padding: 25px;
    font-weight: 400;
}

.thumb-link:hover{
    background: transparent !important;
}
.nav-item:hover{
    color: black;
    cursor: pointer;
}
.nav-content {
    font-size: 14px;
    margin-top: 40px !important;
    padding-bottom: 10px !important;
}

i{
    font-size: 2.5em !important;
    padding-right: 5px;
}
i:hover {
    cursor: pointer;
}

@media (max-width:800px){
    .jam-heading{
        width: 80% !important;
        font-size: 2em !important;
        line-height: 100%;
    }
    .nav-length{
        margin-bottom:45px;
    }
    .thumb-link:hover {
        background: transparent !important;
        
    }
    .nav-content {
        margin-top: 40px !important;
        padding-bottom: 10px !important;
    }
    .nav-item{
       font-weight: 400;
       padding: 14px;
    }
    i{
        font-size: 2em !important;
        
    }
    .user-name{
        display: none;
    }
    
}

